<!DOCTYPE html>
<html>
<head>
<title></title>

<div class="bar bar-header item-input-inset">

 
  <div class="bar bar-header bar-dark">
      <button class="button button-icon icon ion-navicon"></button>
  <h1 class="title">Home</h1>
  <button class="button button-icon icon ion-ios-search"></button>


</div>
</div>
</head>
<body >

<ion-view id="bite">

<ion-content>

 <br/><br/>  <br/><br/>  <br/><br/>  <br/><br/>  <br/><br/>  <br/><br/>  <br/><br/>  
<div class="wtf">
      <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Username</span>
    <input type="text" placeholder="Username">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input type="text" placeholder="Password">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
      </div></div>
<br/>
      <div style="text-align: center;">
        <button class="button button-dark">
       Inscription
      </button>
      </div>
      <br/><br/>
         <!--
        <ion-list ng-controller="UserController">

         <div class="item item-divider" style="text-align: center;">
    Usernames
  </div>
        <div class="item item-icon-left">
        <i class="icon ion-person-stalker"></i>
    
        <div class="list card">

          <ion-item ng-repeat="user in users">

              {{user.username}}
             
          </ion-item>
        </div>
        </div>
        <div class="item item-divider" style="text-align: center;">

    Emails

  </div>
        <div class="item item-icon-left">
        <i class="icon ion-email"></i>
    
        <div class="list card">

          <ion-item ng-repeat="user in users">

              {{user.email}}
             
          </ion-item>
        </div>
        </div>
                <br/><br/>
                  
        </ion-list> -->
      
      </ion-content>
  </ion-view>
</body>
</html>
