/* Empty. Add your own CSS if you like */



#bite {


background-image:url(vins5.jpg);
background-position: center;
background-attachment:scroll;


}

.wtf{

opacity: 0.5;
background-color: #444444;
border-color:#444444;

}